[Unit]
Description=Set battery thresholds on corebooted devices

[Service]
Type=simple
ExecStart=/data/bin/coreboot-battery-threshold -s 67 -p 100

[Install]
WantedBy=multi-user.target
